<?xml version="1.0" ?>
<model>
    <name>cube</name>
    <version>1.0</version>
    <sdf>model.sdf</sdf>
    <author>
        <name>Stefan Kull</name>
        <email>stefan.kull@gmail.com</email>
    </author>
    <description>
        Blender default cube exported as Collada .dae-file
    </description>
</model>
