<?xml version="1.0" encoding="UTF-8"?>
<!--
  \licens       Software License Agreement (MIT)
  \file         <workspace>/src/pet_mk_iv_simulation/launch/testrun_00_spawn_pet_and_play_yard.launch
  \authors      stefan.kull@gmail.com (Github ID 'SeniorKullken')
  \organisation https://github.com/Pet-Series
  \repository   https://github.com/Pet-Series/Pet-Mk-IV
  \repository   https://github.com/Pet-Series/pet_mk_iv_simulation
  \copyright 
  \description  Spawn the robot and play yard world.
    ____________________________________________________________________________
  \usage
    $ roslaunch pet_mk_iv_simulation testrun_00_spawn_pet_and_play_yard.launch
    ____________________________________________________________________________  
  \TODO: sort out my logging mess <- Use rqt... Not the console as output for logging!
-->
<launch>
    
    <param name="/use_sim_time" value="true" />   <!-- Parameter OR argument????? -->
    <param name="/debug"        value="false" />  <!-- Does this affect anything? -->
    <param name="/verbose"      value="false" />  <!-- Does this affect anything? -->

    <arg name="paused"       default="false"/>  <!-- -->
    <arg name="debug"        default="false"/>
    <arg name="verbose"      default="false"/> 

    <include file="$(find pet_mk_iv_simulation)/launch/pet_play_yard-01.launch">
        <arg name="paused"     value="$(arg paused)"/>
        <arg name="debug"      value="$(arg debug)" />
        <arg name="verbose"    value="$(arg verbose)" />
    </include>

    <include file="$(find pet_mk_iv_simulation)/launch/spawn_pet_mk_iv.launch">
        <arg name="spawn_x"   value="-0.300"/> 
        <arg name="spawn_y"   value="0.350"/>   
        <arg name="spawn_z"   value="0.001"/>
        <arg name="spawn_yaw" value="0.0"/>   
    </include>

</launch>