<?xml version="1.0" encoding="UTF-8"?>
<!--
  \licens       Software License Agreement (MIT)
  \file         <workspace>/src/pet_mk_iv_simulation/launch/testrun_03_follow-line.launch
  \authors      stefan.kull@gmail.com (Github ID 'SeniorKullken')
  \organisation https://github.com/Pet-Series
  \repository   https://github.com/Pet-Series/Pet-Mk-IV
  \repository   https://github.com/Pet-Series/pet_mk_iv_simulation
  \copyright   
  \description  Top node Gazebo launch file

  \TODO: sort out my logging mess <- Use rqt... Not the console as output for logging! 
-->
<launch>
    
    <param name="/use_sim_time" value="true" />   <!-- Parameter OR argument????? -->
    <param name="/debug"        value="false" />  <!-- Does this affect anything? -->
    <param name="/verbose"      value="false" />  <!-- Does this affect anything? -->

    <arg name="paused"       default="true"/>
    <arg name="debug"        default="false"/>
    <arg name="verbose"      default="true"/> 

    <include file="$(find pet_mk_iv_simulation)/launch/pet_play_yard-01.launch">
        <arg name="paused"     value="$(arg paused)"/>>>
        <arg name="paused"     value="$(arg paused)"/>
        <arg name="verbose"    value="$(arg verbose)"/>
    </include>

    <include file="$(find pet_mk_iv_simulation)/launch/spawn_pet_mk_iv.launch">
        <arg name="spawn_x"   value="-0.680"/> 
        <arg name="spawn_y"   value="0.170"/>   
        <arg name="spawn_z"   value="0.008"/> 
        <arg name="spawn_yaw" value="1.35"/>    
    </include>

    <node name="Follow_the_line_PlayYard01" pkg="pet_mk_iv_mission_control" type="testrun_03_follow-line.py">
        <arg name="debug"        value="$(arg debug)"/>
        <arg name="verbose"      value="$(arg verbose)"/>
     </node>
</launch>